<div id="new-user-form-wrapper">
  <a id="home" routerLink="/">Home</a>
  <h2>Create New User</h2>
  <div>All fields required</div>
  <form id="new-user-form" (ngSubmit)="createUser()">

    <div>
      <label for="new-user-user-name">Username </label>
      <input
        id="new-user-user-name"
        type="text"
        name="userName"
        [(ngModel)]="user.userName" />
    </div>

    <div>
      <label for="new-user-first-name">First Name </label>
      <input
        id="new-user-first-name"
        type="text"
        name="firstName"
        [(ngModel)]="user.firstName" />
    </div>

    <div>
      <label for="new-user-last-name">Last Name </label>
      <input
        id="new-user-last-name"
        type="text"
        name="lastName"
        [(ngModel)]="user.lastName" />
    </div>

    <div>
      <label for="new-user-password">Password </label>
      <input
        id="new-user-password"
        type="text"
        name="password"
        [(ngModel)]="user.password"/>
    </div>

    <div>
        <label for="new-user-phone">Phone </label>
        <input
          id="new-user-phone"
          type="text"
          name="phone"
          [(ngModel)]="user.phone"/>
    </div>

    <div>
        <label for="new-user-email">Email </label>
        <input
          id="new-user-email"
          type="text"
          name="email"
          [(ngModel)]="user.email"/>
      </div>

    <div>
      <input
        id="new-user-submit"
        type="submit"
        value="Create"
        />
    </div>

  </form>
</div>