<div id="users-wrapper">
  <h2>Users</h2>
  <a id="new-user-link" routerLink="/new">Create User</a>

  <div *ngFor="let user of users; index as i">
    <div id={{user.id}} data-user-display>
      <div id="user-{{user.id}}-user-name">
        {{user.userName}}
      </div>

      <div id="user-{{user.id}}-first-name">
        {{user.firstName}}
      </div>

      <div id="user-{{user.id}}-last-name">
        {{user.lastName}}
      </div>

      <button
        id="delete-user-{{user.id}}"
        (click)="deleteUser(user.id, i)">
        Delete
      </button>
      <button
        id="update-user-{{user.id}}"
        (click)="goToUpdateForm(user)">
        Update
      </button>
    </div>
  </div>
</div>
