<div id="users-wrapper">
  <a id="new-user-link" routerLink="/new">Create User</a>
  <h2>Users</h2>
  <div *ngFor="let user of users; index as i">
    <div id={{user.id}} data-user-display>
      <div id="userNameAndFullName">
        <div id="user-{{user.id}}-user-name">
          Username: {{user.userName}}
        </div>

        <div id="user-{{user.id}}-full-name">
          Full name: {{user.firstName}} {{user.lastName}}
        </div>
     </div>
     <br>
     <button
        id="delete-user-{{user.id}}"
        (click)="deleteUser(user.id, i)">
        Delete
      </button>
      <button
        id="update-user-{{user.id}}"
        (click)="goToUpdateForm(user)">
        Update
      </button>
      <br>
      <br>
    </div>
  </div>
</div>
